@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
    --title-color: #FFD700;
    --background-color: #050505;
    --font-family: 'Righteous', cursive;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--title-color);
    font-family: var(--font-family);
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 50px;
}

i {
    font-size: 6.25rem;
}